body{
    background-color: black;
    text-align: center;
}

h1{
    font-family:Arial; 
    color: #FFC300;
}

  
.Show-Date{
    font-size: 80px;
}

.Loading-img {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Loading-img {
        animation: Loading-img-spin infinite 20s linear;
    }
}

.Loading-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #FFC300;
}

@keyframes Loading-img-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 40em){
    .Coin-List {
        grid-template-columns: repeat(200px, 1fr);
        column-gap: 40px;
    }
}

.Coin-List{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto,200px));
    grid-auto-rows: minmax(200px, auto);
    row-gap: 40px;
}
