body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin-name{
    font-weight: bold;
    font-size: 30px;
}

.coin-box{
    background-color: #d2dae2;
    margin:10px;
    border-radius: 50px;
    width:350px;
    height:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.coin-img{
    height: 300px;
    width: 300px;
}